<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles.css') }}"
  />
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<h2
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  "
>
  Welcome to SRM Time Table Registration
</h2>
<div class="formbold-btn-container">
  <a href="/create" class="formbold-btn1">Create Form</a>
</div>
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <form
      style="background-color: #f1ffff; border-radius: 10px; outline: none"
      id="form"
      method="post"
    >
      <div class="formbold-input-flex">
        <div>
          <label for="staffName" class="formbold-form-label">
            <b>Staff Name</b>
          </label>
          <input
            type="text"
            name="staffName"
            id="staffName"
            placeholder="Jane"
            class="formbold-form-input"
          />
        </div>
        <div>
          <label for="class" class="formbold-form-label"> <b>Class</b> </label>
          <input
            type="text"
            name="class"
            id="class"
            placeholder="II CS A"
            class="formbold-form-input"
          />
        </div>
        <div>
          <label for="roomNo" class="formbold-form-label"
            ><b> Room No </b></label
          >
          <input
            type="text"
            name="roomNo"
            id="roomNo"
            placeholder="403"
            class="formbold-form-input"
          />
        </div>
      </div>

      <div class="formbold-input-flex">
        <div>
          <label for="day" class="formbold-form-label"><b>Day</b></label>
          <select name="day" id="day" class="formbold-form-input" required>
            <option value="" disabled selected>Select a day</option>
            <option value="1">Day 1</option>
            <option value="2">Day 2</option>
            <option value="3">Day 3</option>
            <option value="4">Day 4</option>
            <option value="5">Day 5</option>
          </select>
        </div>
        <div>
          <label for="period" class="formbold-form-label"><b>Period</b></label>
          <select
            name="period"
            id="period"
            class="formbold-form-input"
            required
          >
            <option value="" disabled selected>Select a period</option>
            <option value="1">Period 1</option>
            <option value="2">Period 2</option>
            <option value="3">Period 3</option>
            <option value="4">Period 4</option>
            <option value="5">Period 5</option>
            <option value="6">Period 6</option>
            <option value="7">Period 7</option>
            <option value="8">Period 8</option>
            <option value="9">Period 9</option>
          </select>
        </div>
      </div>

      <div>
        <label for="subject" class="formbold-form-label">
          <b> Subject of the period </b>
        </label>
        <textarea
          rows="6"
          name="subject"
          id="subject"
          class="formbold-form-input"
          readonly
          style="overflow: hidden"
        >
{% if result %}
                Staff Name: {{ result['Staff Name'] }}
                Subject: {{ result['Subject'] }}
                Room No: {{ result['Room No'] }}
                Class: {{ result['Class'] }}
{% else %}
  No matching record found.
{% endif %}

      </textarea
        >
      </div>

      <button class="formbold-btn" id="submitBtn" disabled>Search</button>
    </form>
  </div>
</div>
