<div class="formbold-response-container">
  <h1>Form submitted successfully!</h1>
  <p>Thank you for submitting the form.</p>

  <div class="formbold-btn-container">
    <a href="/download" class="formbold-btn" download>Download CSV</a>
    <a href="/create" class="formbold-btn">Create Form</a>
  </div>
</div>

<style>
  .formbold-response-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .formbold-btn-container {
    margin-top: 20px;
  }

  .formbold-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #6a64f1;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .formbold-btn:hover {
    background-color: #514bd7;
  }

  body {
    background-color: #f0ffff;
  }

  h1 {
    color: #6a64f1;
  }

  p {
    color: #536387;
    font-size: 18px;
  }
</style>
